In [78]:
import pandas as pd
MyData=pd.read_csv("data.csv")
MyData

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [ ]:
from sklearn.model_selection import train_test_split
train_set, test_set = train_test_split(MyData, test_size=0.2, random_state=42)

In [42]:
y_train=train_set["race/ethnicity"]

In [43]:
X_train=train_set.drop(['race/ethnicity'], axis=1)

In [44]:
y_test=test_set["race/ethnicity"]

In [45]:
X_test=test_set.drop(['race/ethnicity'], axis=1)

In [68]:
y_train_C = (y_train =="group C")*1
y_test_C = (y_test == "group C")*1

In [75]:
#from sklearn.linear_model import SGDClassifier
#sgd_clf = SGDClassifier(random_state=42)
#sgd_clf.fit(X_train, y_train_C)

In [95]:
MyData_cat = MyData[["race/ethnicity"]]
from sklearn.preprocessing import OneHotEncoder
cat_encoder = OneHotEncoder()
MyData_cat_1hot = cat_encoder.fit_transform(MyData_cat)

In [97]:
#transformed = cat_encoder .transform(MyData["race/ethnicity"].to_numpy().reshape(-1, 1))
#Create a Pandas DataFrame of the hot encoded column
ohe_df = pd.DataFrame(MyData_cat_1hot, columns=cat_encoder.get_feature_names())
#concat with original data
data = pd.concat([MyData, ohe_df], axis=1).drop(["race/ethnicity"], axis=1)

ValueError: Shape of passed values is (1000, 1), indices imply (1000, 5)

In [ ]:
rom sklearn.preprocessing import OneHotEncoder
# data is a Pandas DataFrame

jobs_encoder = OneHotEncoder()
jobs_encoder.fit(data['Profession'].unique().reshape(1, -1))
data['Profession'] = jobs_encoder.transform(data['Profession'].to_numpy().reshape(-1, 1))